input::-webkit-input-placeholder { color: #2B2D3A; }
input::-moz-placeholder { color: #2B2D3A; }

.input {
  height: 37px;
  border: 1px solid #D8DCE3;
  border-radius: 4px;
  padding: 0 12px;
  outline: none;
  font-size: 15px;
  font-family: RubikRegular; 

  &:focus {
    border-color: #2684FF;
    filter: drop-shadow(0px 0px 4px #B7D6FF);
  }
}